<nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="assets/images/logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link active" routerLink="/list-trips">Trips<span class=" sr-only "></span></a>
        </div>
    </div>
    <div class="navbar-end">
        <a class="nav-item px-2" routerLink="login" *ngIf="!isLoggedIn()">
            <span class="has-icon-left ">Log In</span>
        </a>
        <a class="nav-item px-4" routerLink="register" *ngIf="!isLoggedIn()">
            <span class="has-icon-right">Register User</span>
        </a>
        <a class="nav-item px-4 active" (click)="onLogout()" *ngIf="isLoggedIn()">
            <span class="has-icon-left ">Log Out</span>
        </a>
    </div>
</nav>